.misc {
  border-left: 2px solid var(--light-gray-2);
  padding: 10px 15px;
  overflow-y: scroll;
  background-color: var(--white);
  z-index: 10;
}
.misc::-webkit-scrollbar {
  width: 8px;
}
.misc::-webkit-scrollbar-track {
  visibility: hidden;
  border: 2px solid transparent;
}
.misc::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: var(--secondary-gray);
  border-radius: 4px;
  border: 2px solid transparent;
}
.misc__divider {
  margin: 20px 0;
  border: 1px solid #e5e5e7;
}
.misc__heading {
  display: flex;
}
.misc__heading__icon {
  color: var(--secondary-gray);
}
.misc__heading__label {
  margin-left: 4px;
  font-size: 16px;
  color: var(--secondary-gray);
}
/* .misc__content__announcement > h4 {
  font-size: 14px;
  color: var(--primary-gray);
} */
.misc__content__stats {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.misc__content__stats__tab {
  background-color: var(--light-gray-1);
  width: 100%;
  padding: 4px 10px;
  border-radius: 10px;
}
.misc__content__stats__tab__label {
  text-transform: uppercase;
  font-size: 12px;
  color: var(--secondary-gray);
}
.misc__content__stats__tab__value {
  color: var(--primary-blue);
  font-size: 22px;
}

.misc__content__leaderboard {
  border: 1px solid var(--light-gray-3);
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
}
.misc__leaderboard__buttons {
  display: flex;
}
.misc__leaderboard__button {
  height: 27px;
  border-radius: 10px;
  padding: 0 10px;
  margin-right: 5px;
  background-color: var(--light-gray-1);
  color: var(--primary-blue);
  display: flex;
  align-items: center;
}
.misc__leaderboard__button > h3 {
  font-size: 12px;
}
.misc__leaderboard__rank {
  width: calc(100% - 10px);
  height: 55px;
  background-color: #FEFAEC;
  border-radius: 10px;
  padding: 10px 12px;
  margin: 10px 0 0 10px;
  display: grid;
  grid-template-columns: max-content 35px auto min-content;
  grid-gap: 10px;
  align-items: center;
}
.misc__leaderboard__rank__position {
  color: var(--white);
  font-size: 13px;
  width: 22px;
  height: 22px;
  background-color: #F4CB3F;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -22px;
}
.misc__leaderboard__rank__avatar {
  width: 30px;
  height: 30px;
}
.misc__leaderboard__rank__name {
  color: var(--primary-gray);
  font-size: 13px;
}
.misc__leaderboard__rank__pts {
  justify-self: end;
}
.misc__leaderboard__rank__pts__value {
  color: var(--primary-blue);
  font-size: 15px;
  margin-bottom: -2px;
}
.misc__leaderboard__rank__pts__label {
  color: var(--primary-gray);
  font-size: 12px;
  text-align: center;
}

.misc__content__players {
  margin-top: 10px;
  display: flex;
}
.misc__players__player {
  border-radius: 50%;
  border: 5px solid var(--white);
  margin-right: -10px;
}
