@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  outline: none;
}

:root {
  --primary-blue: #0066fe;
  --secondary-blue: #80b3ff;
  --green: #00bf8f;
  --red: #ec5e65;
  --black: #000000;
  --primary-gray: #353841;
  --secondary-gray: #72747a;
  --light-gray-1: #f8f9fd;
  --light-gray-2: #eff2f1;
  --light-gray-3: #e5e5e7;
  --white: #ffffff;
}

h1 {
  font-weight: 700;
}
h2 {
  font-weight: 600;
}
h3 {
  font-weight: 500;
}
h4 {
  font-weight: 400;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
