.chat-question {
  background-color: var(--light-gray-1);
  padding: 20px;
  border-radius: 0 0 10px 10px;
  position: relative;
  /* box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); */
  /* box-shadow: 0px 25px 50px rgb(53 56 65 / 14%); */
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2), 0px 20px 40px rgba(53, 56, 65, 0.16); */
  box-shadow: 0px 4px 4px rgba(53, 56, 65, 0.2);

  z-index: 1;
}
.chat-question__bar {
  width: 100%;
  height: 6px;
  display: flex;
  margin-bottom: 10px;
}
.chat-question__bar__read {
  background-color: var(--primary-blue);
  width: 100%;
  height: 100%;
  border-radius: 50px 0 0 50px;
}
.chat-question__bar__unread {
  background-color: var(--secondary-blue);
  width: 219px;
  height: 100%;
  border-radius: 0 50px 50px 0;
}
.chat-question__bar__buzz {
  background-color: var(--red);
  height: 100%;
  border-radius: 50px 50px 50px 50px;
}
.chat-question__text {
  font-size: 14px;
  color: var(--black);
  overflow-y: auto;
  height: calc(21px * 2)
}
.chat-question__text::-webkit-scrollbar {
  width: 12px;
}
.chat-question__text::-webkit-scrollbar-track {
  border: 2px solid var(--white);
  background-color: var(--light-gray-2);
  margin: 3px 0;
  border-radius: 8px;
}
.chat-question__text::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: var(--secondary-gray);
  border-radius: 8px;
  border: 4px solid transparent;
}
.chat-question__timer {
  display: flex;
  position: absolute;
  bottom: -20px;
  right: 50px;
}
.chat-question__timer__read {
  width: 53px;
  text-align: center;
  background-color: var(--primary-blue);
  color: var(--white);
  font-size: 14px;
  border-radius: 0 0 10px 10px;
}
.chat-question__timer__unread {
  width: 53px;
  text-align: center;
  background-color: var(--secondary-blue);
  color: var(--white);
  font-size: 14px;
  border-radius: 0 0 10px 10px;
}
.chat-question__conn {
  display: flex;
  align-items: center;
  gap: 20px;
}
.MuiCircularProgress-colorPrimary {
  color: var(--primary-blue) !important;
}
.chat-question__conn__text {
  font-size: 14px;
  color: var(--black);
}
.chat-question__prestart {
  display: grid;
  grid-template-columns: auto max-content;
}
.chat-question__prestart__text__greeting {
  font-size: 14px;
  color: var(--black);
}
.chat-question__prestart__text__room {
  font-size: 14px;
  color: var(--black);
  display: flex;
  align-items: center;
}
.chat-question__prestart__text__room__tag {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  background-color: #E1EDFF;
  color: var(--primary-blue);
  border-radius: 4px;
  padding: 5px;
  height: 21px;
  margin: 0 8px;
}
.chat-question__prestart__text__room__tag__icon {
  font-size: 18px;
}
.chat-question__prestart__text__room__tag__text {
  font-size: 14px;
}
.chat-quesiton__prestart__btn {
  display: flex;
  align-items: center;
  gap: 8px;
}
.chat-question__prestart__btn__guide, .chat-question__prestart__btn__start {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 10px;
  height: 100%;
  font-size: 14px;
  cursor: pointer;
}
.chat-question__prestart__btn__guide {
  background-color: #E1EDFF;
  color: var(--primary-blue);
}
.chat-question__prestart__btn__start {
  background-color: var(--primary-blue);
  color: var(--white);
}